@font-face {
  font-family: 'Gosha Sans';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/GoshaSans-Medium.woff2') format('woff2'),
    url('../fonts/GoshaSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gosha Sans';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/GoshaSans-Light.woff2') format('woff2'),
    url('../fonts/GoshaSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gosha Sans';
  font-style: normal;
  font-weight: bold;
  src:
    url('../fonts/GoshaSans-Bold.woff2') format('woff2'),
    url('../fonts/GoshaSans-Bold.woff') format('woff');

}

@font-face {
  font-family: 'Gosha Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/GoshaSans-Regular.woff2') format('woff2'),
    url('../fonts/GoshaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gosha Sans';
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/GoshaSans-Ultrabold.woff2') format('woff2'),
    url('../fonts/GoshaSans-Ultrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gosha Sans';
  font-style: normal;
  font-weight: 200;
  src:
    url('../fonts/GoshaSans-Ultralight.woff2') format('woff2'),
    url('../fonts/GoshaSans-Ultralight.woff') format('woff');
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gosha Sans', sans-serif;
  font-style: normal;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dc27ab;
}

.side-content {
  display: flex;
  flex-direction: row;
}

.main-title {
  color: white;
  margin-bottom: 30px;
}

.download-program {
  text-decoration:none;
  color: inherit;
  padding: 20px;
  color: white;
  background-color: #240122;
  border: 3px solid #240122;
}

.info {
  text-decoration:none;
  color: inherit;
  padding: 20px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  margin-left: 5px;
}

.url-main,
.url-back,
.url-theme {
  text-decoration:none;
  color: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.url-back {
  padding-left: 25px;
  background-image: url("../img/return.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-program {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #240122;
}

.side-program {
  padding-left: 180px;
  font-size: 36;
  color: #d91ab3;
  margin-top: 100px;
  margin-bottom: 25px;
}

.lists {
  padding-left: 200px;
  font-size: 18px;
}

.paragraf {
  padding-left: 180px;
  margin-bottom: 20px;
}

.table,
.table th,
.table td {
  border: 1px solid #000;
  margin-top: 100px;
}

.table {
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 5px;
}

.table tfoot tr {
  text-align: center;
}

.figure-img {
  padding-left: 200px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.figure-img img {
  width: 100%;
  height: 100%;
}

.url-tegs,
.url-example-work {
  color: inherit;
}

.url-back {
  display: inline-block;
  transition: 0.5s;
}

.url-back:hover {
  transform: translate(-30px);
}

.container-modules {
  font-family: Arial, Helvetica, sans-serif;
  width: 1920px;
  margin: 0 auto;
}

.cart-block {
  padding-left: 375px;
}

.list-cart, .cart-text li {
  list-style-type: none;
}

.list-cart {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  width: 572px;
  height: 505px;
  vertical-align: middle;
  background-size: 572px 180px !important;
}

.list-cart li p{
  font-size: 20px;
  font-weight: 400;
  line-height: 165%;
  color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.side-modules {
  font-weight: 700;
  font-size: 40px;
  color: #dc27ab;
  margin-bottom: 10px;
  margin-top: 205px;
}

.cart-num {
  font-weight: 400;
  font-size: 40px;
  text-align: right;
  color: #eaeaea;
  margin-right: 25px;
  }

.cart-text {
  margin: 25px;
  padding-left: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333;
  width: 522px;
  height: 215px;
}

.more-btn-container {
  text-align: center;
}

.more-btn {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #dc27ab;
  border-radius: 0;
  border-color: #dc27ab;
  padding: 25px 76px 25px 76px;
  background-color: #fff;
}

.container-modules a {
  margin-left: 405px;
}

.container-modules h1 {
  margin-left: 305px;
}
