.recently__view {
  position: absolute;
  top: 370px;
  border: 1px solid #edf2f7;
  border-radius: 16px;
  width: 365px;
  height: 246px;
  box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
  background: #fff;
}

.recently__top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
}

.recently__top h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #1a202c;

}

.recently__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recently__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 90px;
  transition: 0.3s;
}

.recently__list-item:hover {
  background: #f1f1f1;
}

.recently__icon {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
}

.recently__item-img {
  border: 1.92px solid #fff;
  border-radius: 960px;
  width: 46px;
  height: 46px;
  display: block;
}

.recently__item-number {
  position: absolute;
  z-index: 1;
  left: 31px;
  top: 27px;
  border-radius: 100%;
  background-color: #fff;
  width: 22px;
  height: 22px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #141416;
}

.recently__item-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recently__name-span1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #141416;
}

.recently__name-span2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #64748b;
}

.recently__item-price-container {
  width: 65px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
