.footer {
  width: 100%;
  height: 345px;
  background: #141416;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.unit {
  width: 1248px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 465px;
}

.footer__logo {
  width: 198px;
  height: 65px;
  display: flex;
  align-items: center;
}

.footer__logo img {
  width: 65px;
  height: 65px;
}

.footer__logo span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 29px;
  line-height: 130%;
  color: #fff;
  text-align: center;
}

.footer__menu {
  list-style: none;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  text-transform: capitalize;
  color: #b9b9b9;
  display: flex;
  flex-direction: row;
  gap: 70px;
  white-space: nowrap;
}

.footer__menu li {
  cursor: pointer;
}

.footer__line {
  border: 1px solid #818181;
  width: 1246px;
  height: 0px;
  opacity: 0.25;
  margin: 0 auto;
}

.footer__lower {
  width: 1237px;
  height: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__lower span {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 147%;
  color: #999;

}

.footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 234px;
  height: 21px;
}

.footer__social img {
  cursor: pointer;
}

.hero-btns .more a {
  text-decoration: none;
  color: #fff;
}
