.banner {
  border-radius: 30px;
  width: 1245px;
  height: 311px;
  background: #141416;
  margin: 160px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner__left-content {
  height: 215px;
  margin-left: 66px;
}

.banner__left-content h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #fff;
  margin: 0;
}

.banner__left-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #d4d4d4;
  opacity: 0.6;
  margin: 0;
  margin-top: 12px;
}

.banner__action {
  margin-top: 50px;
}

.banner__action .sell {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 12px;
  width: 183px;
  height: 67px;
  background: #000;
  border: 0;
  transition: 0.7s;
  margin-left: 31px;
}

.banner__action .sell:hover{
  color: #000;
  border: 1.50px solid #000;
  background: #fff;
  cursor: pointer;
}

.banner__action .more {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  border: 1.50px solid #000;
  border-radius: 12px;
  width: 183px;
  height: 67px;
  background: #fff;
  transition: 0.7s;
}

.banner__action .more:hover {
  color: #fff;
  background: #000;
  cursor: pointer;
}

.banner__img {
  position: relative;
}

.banner__banner1 {
  position: absolute;
  border-radius: 16px;
  width: 369px;
  height: 249px;
  top: -125px;
  left: 320px;
  z-index: 2;
}

.banner__banner2-blure {
  position: absolute;
  border-radius: 8px;
  width: 390px;
  height: 249px;
  filter: blur(52.874610900878906px);
  top: -110px;
  left: 308px;
  z-index: 1;
}
