.container {
  width: 1250px;
  margin: 0 auto;
  margin-top: 120px;
}

.unleash-content {
  display: flex;
  flex-direction: row;
}

.unleash-line {
  border: 0.71px solid #cbcbcb;
  width: 1248px;
  height: 0px;
  margin: 0 auto;
}


