
:root {
  --font-family: "Jost", sans-serif;
  --second-family: "Arial", sans-serif;
}

.body {
  --font-family: "Jost", sans-serif;
  --second-family: "Arial", sans-serif;
}

.header-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #141024;
  font-size: 0;
}

.header-conteiner__logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 160%;
  color: #fff;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  height: 32px;
  list-style: none;
}

.nav__nav-btns {
  display: none;
  width: 100px;
  height: 44px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 15px;
}

.nav__phone-btn {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.08);
  position: relative;
}

.nav__phone-btn img {
  position: absolute;
  top: 9px;
  left: 9px;
}

.nav__menu-btn {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.08);
  position: relative;
}

.nav__menu-btn img {
  position: absolute;
  top: 9px;
  left: 9px;
}

@media (max-width: 768px) {
  .header-conteiner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-conteiner__logo {
    font-size: 18px;
    padding-top: 24px;
  }

  .num__phone, .nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__nav-btns {
    display: none;
  }
}

.nav__mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
  padding: 15px;
  justify-content: center;
}

.nav__mobile-list {
  height: 150px;
}

.nav__menu-btn:hover .nav__mobile-menu {
  display: flex;
}

.nav__mobile-menu ul {
  padding: 0;
  margin: 0;
}

.nav__mobile-menu li {
  list-style: none;
}

.nav__mobile-menu li a {
  display: block;
  padding: 10px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}



.nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  text-decoration:none;
  color: #fff;
}

.num__phone {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 160%;
  text-align: right;
  color: #fff;
  text-decoration:none;
}

.main {
  font-size: 0;
  margin: 0 auto;
}

.main-conteiner {
  background-color: #141024;
  width: 100%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 0 15px;
}

.main-container-side {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.main_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 160%;
  color: #fff;
  margin: 0;
}

.main__about {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  height: 340px;
  margin: auto 0;
}

@media (max-width: 768px) {
  .main-container-side {
    justify-content: center;
  }

  .main__about {
    height: auto;
    text-align: center;
  }

  .main-title {
    font-weight: 600;
    font-size: 30px;
  }

  .main__about-text {
    font-size: 16px
  }
}

.main__btn-subscribe {
  font-family: var(--second-family);
  border-radius: 5px;
  width: 270px;
  height: 79px;
  background: #d52027;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}

.main__btn-subscribe:hover {
  cursor: pointer;
}

.main__img {
  position: relative;
  z-index: 1;
  align-self:flex-end;
  margin-left: 150px;
}

.main__img-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 768px) {
  .main__img {
    width: 273px;
    height: 320px;
    margin: 0 auto;
  }

  .main-container-side {
    flex-direction: column-reverse;
  }

  .main__img-circle {
    width: 273px;
    height: 260px;
    transform: translate(-50%, -50%);
  }

  .main__img-women {
    width: 180px;
    height: 320px;
    margin-left: 55px;
  }
}

.about__p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: #141024;
}

.about__stat-list {
  align-self: center;
  display: flex;
  justify-content:center;
  flex-direction: row;
  gap: 70px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.about__stat-item {
  width: 230px;
}

.about__stat-main {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 160%;
  color: #d52027;
}

.about__stat-side {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(20, 16, 36, 0.7);
}

@media (max-width: 768px) {
  .about__p {
    font-size: 20px;
  }

  .about__stat-item {
    text-align: center;
  }

  .about__stat-main {
    font-weight: 600;
    font-size: 60px;
  }

  .about__stat-side {
    font-size: 16px;
  }
}

.next-conteiner {
  width: 100%;
  background: #f9f9f9;
}

.next__p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: #141024;
}

.next__list {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 70px;
  padding: 0;
  flex-wrap: wrap;
}

.next__item {
  width: 330px;
}

.next__item-main {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #141024;
}

.next__item-side {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(20, 16, 36, 0.7);
}

@media (max-width: 768px) {
  .next__p {
    font-size: 28px;
    line-height: 140%;
    text-align: center;
  }

  .next__item {
    text-align: center;
  }

  .next__item-main {
    font-size: 20px;
  }

  .next__item-side {
    font-size: 20px;
  }
}

.trener__p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: #141024;
  overflow-wrap: break-word;
}

.trener__list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 60px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.trener__item {
  width: 360px;
}

@media (max-width: 768px) {
  .trener__p {
    font-size: 28px;
    line-height: 140%;
    text-align: center;
  }

  .trener__item {
    width: 220px;
    margin-right: 15px;
  }

  .trener__img {
    width: 220px;
    height: 306px;
  }

  .trener__list {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .trener__list {
    justify-content: center;
  }
}

/* deg - градусы */
.trener__img:hover {
  animation: 0.5s linear infinite trener-animation;
}
@keyframes trener-animation {
  0%, 100% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(-1deg);
  }
  75% {
      transform: rotate(1deg);
  }
}

.trener__img {
  border-radius: 20px;
}

.trener__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #141024;
}

.trener__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(20, 16, 36, 0.7);
}

.trener__about-url {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #d52027;
  text-decoration:none;
}

.buy__p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: #141024;
}

@media (max-width: 768px) {
  .buy__p {
    font-size: 28px;
    line-height: 140%;
    text-align: center;
  }
}

.buy__list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  justify-content: center;
  height: 500px;
}

@media (max-width: 1200px) {
  .buy__list {
    height: auto;
  }
}

.buy__item {
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  width: 360px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buy__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: center;
  color: #141024;
}

.buy__price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  text-align: center;
  color: #141024;
}

.buy__about {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #141024;
}

.buy__btn {
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px 54px;
  width: 280px;
  height: 79px;
  background: #d52027;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.buy__item:hover {
  background: #141024;
  height: 500px;
  margin-top: -20px;
}

.buy__item:hover .buy__name,
.buy__item:hover .buy__price,
.buy__item:hover .buy__about {
  color: #fff;
}

.input-section {
  background: #d52027;
}

.input-section img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, 0);
  z-index: 1;
}

.input-container-side{
  height: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media (max-width: 768px) {
  .input-container-side {
    flex-direction: column;
    height: auto;
  }
}

.input__text {
  margin: auto 0;
  z-index: 2;
}

.input__text h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
}

.input__text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

@media (max-width: 768px) {
  .input__text h2 {
    font-size: 28px;
    line-height: 140%;
    text-align: center;
  }

  .input__text p {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
  }
}

.input-form {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(40, 41, 68, 0.7);
  gap: 20px;
  margin: auto 0;
  margin-left: auto;
  z-index: 2;

}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
}

.input-form  input {
  border-radius: 5px;
  width: 460px;
  height: 64px;
  background: #f6f6f6;
  border: 0;
  padding: 0 20px;
}

.input-form button{
  border-radius: 5px;
  width: 500px;
  height: 64px;
  background: #141024;
  color: #fff;
  border: 0;
  cursor: pointer;
}

@media (max-width: 768px){
  .input-form {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .input-form  input {
    width: 230px;
  }

  .input-form  button {
    width: 270px;
  }

}

.input-form__check {
  width: 200px;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
}

.input-form__chek-box {
  display: none;
  position: absolute;
  appearance: none;
}

.input-form__span {
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 22px;
}

.input-form__span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.3s;
}

.input-form__chek-box:checked + .input-form__span::after {
  border: 1px solid #1f3e10;
}

.input-form__span::before {
  content: "\2714";
  position: absolute;
  bottom: -7px;
  left: -3px;
  opacity: 0;
  font-size: 30px;
  color: green;
  transition: 0.5s;
}

.input-form__chek-box:checked + .input-form__span::before {
  opacity: 1;
  transform: rotate(-360deg);
}

.footer {
  background-color: #141024;
  height: 322px;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 0;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer-list {
    flex-direction: column;
  }
}

.footer-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .footer-list__item:nth-last-child(1) {
    flex-direction: row;
  }
}

.footer-list__about {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #fff;
}

.footer-list__soglashenie {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #d52027;
}

.footer-list__num-phone {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  color: #d52027;
}

.footer-list__mail {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #d52027;
  line-height: 344%;
}

.instagram {
  position: relative;
  width: 25px;
  height: 25px;
}

.instagram svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}










