.unleash-notification {
  position: absolute;
  left: 400px;
  border-radius: 13px;
  padding: 11px;
  width: 325px;
  height: 83px;
  backdrop-filter: blur(30.380367279052734px);
  box-shadow: 0 19px 28px 0 rgba(70, 70, 70, 0.1);
  background: linear-gradient(226deg, #fcfcfd 0%, #fcfcfd 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.unleash-notification__info {
  width: 227px;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}

.unleash-notification__info-logo {
  width: 64px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unleash-notification__avatar {
  position: relative;
  width: 45px;
  height: 45px;
  margin-left: 15px;
}

.unleash-notification__avatar-img {
  border-radius: 34px;
  width: 39px;
  height: 39px;
  margin-top: 3px;
}

.unleash-notification__avatar-verified {
  position: absolute;
  left: 25px;
}

.unleash-notification__logo {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin: auto 0;
}

.unleash-notification__info-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 171%;
}

.unleash-notification__info-text {
  width: 151px;
  height: 61px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.unleash-notification__info-text span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 167%;
}
